.search{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: "inter";
    color: white;
    transition: .6s
}
.search-button:hover{
    cursor: pointer;
}
.bottom-block{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    color: brown;
}
/* .search-button{
    transition: opacity 0.6s;
    opacity: 1
} */
/* .hiddens{

    opacity: 0;
    color: blue;
    display: none;
} */