.search{
    padding: 0 10px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: "inter";
    color: white;
    transition: .6s
}
.search-button:hover{
    cursor: pointer;
}
.search-button{
    max-width: 751px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}
.bottom-block{
    position: absolute;
    bottom: 0px;
}

@media(max-width: 768px){
    .search{
        padding: 0;
    }
}